*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* header */
header h1{
  padding: 160px 0;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
  background-image: url(images/adc5c4f357dfe3aeb3bf4ee76e059664.jpg);
  background-position: center;
  color: rgba(255, 255, 255, 0.968); 
  
}

header ul{
  padding: 64px 0 0 0;
  width: 70%;
  margin:0 auto;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

header a{
  color: #333;
  text-decoration: none;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
header img {
  padding-top: 48px;
  width: 100%;
  text-align: center;
}
.about-item{
  text-align: center;
}
.about-item h2{
  padding: 36px;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.about-item p{
  padding: 24px;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.gallery-item h2{
  padding: 48px;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
.galleryfhoto img{
  width: 100%;
  object-fit: cover;
}
.galleryfhoto{
  width: calc((100% - 8px * 2) / 3);
  padding: 24px;
   background: white;
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(170, 169, 169, 0.1);
  overflow: hidden;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s;
  margin: 32px auto;
  max-width: 600px;
}
.galleryfhoto:hover {
  transform: scale(1.02);
}
.galleryfhoto h3{
  font-weight: 300;
  font-size: smaller;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.galleryfhoto p{
  font-weight: 100;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.last h3{
   padding: 36px;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


form {
  text-align: center;
  padding: 20px;
  color: black;
  text-decoration: none;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

form h3{
  padding: 18px 0;
}

form div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  padding: 36px 0;

}

form p{
  width: 50%;
  text-align: center;
}
form input {
  width: 50%;
  padding: 8px 0;
}
form textarea{
  width: 50%;
  height: 100px;
}